body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.main-header {
    background-color: red; /* Couleur de fond de la barre de navigation */
    box-shadow: 0 1px 2px rgba(0,0,0,0.1); /* Ombre portée pour un effet de profondeur */
    position: fixed; /* Fixer la barre de navigation en haut de la page */
    width: 100%; /* Largeur complète */
    z-index: 1000; /* S'assurer qu'elle est au-dessus des autres éléments */
}

.title {
    float: left; /* Titre à gauche */
    padding: 10px 20px; /* Espacement autour du titre */
    color: orange; /* Couleur du texte */
    font-size: 1.2em; /* Taille du texte */
}

.main-nav {
    float: right; /* Menu à droite */
}

.main-nav ul {
    list-style: none; /* Pas de puces */
    margin: 0; /* Pas de marge extérieure */
    padding: 0; /* Pas de marge intérieure */
}

.main-nav li {
    display: inline; /* Afficher les éléments de la liste en ligne */
    margin-left: 20px; /* Espacement entre les éléments de la liste */
}

.main-nav a {
    text-decoration: none; /* Pas de soulignement */
    color: white; /* Couleur du texte */
    padding: 10px 15px; /* Espacement autour des liens */
    font-size: 20px;
}

.main-nav a:hover {
    color: orange
}


.forum-container {
    margin-top: 60px; /* Ajouter de l'espace en haut pour la barre de navigation fixe */
}


.user-list {
    width: 20%; 
    overflow-y: scroll; /* Permettre le défilement */
    float: left; /* Aligner à gauche */
    height: calc(100vh - 60px); /
}

.user-list ul {
    list-style-type: none; /* Pas de puces */
    margin:6px; /* Pas de padding */
}

.user {
    display: flex;
    align-items: center;
    margin: 5px;
    background-color: gray; /* Couleur de fond initiale */
    width: 210px;
    border-radius: 50px;
    color: orange; /* Couleur de texte initiale */
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour le changement de style */
    cursor: pointer; /* Change le curseur pour indiquer qu'il est cliquable */
}

.user.active {
    background-color: #2a62f4; /* Couleur de fond quand actif */
    color: white; /* Couleur de texte quand actif */
}

.user.inactive {
    background-color: #ddd; /* Couleur de fond quand inactif */
    color: black; /* Couleur de texte quand inactif */
}


.profile-pic {
    width: 40px; 
    height: 40px;
    border-radius: 50%; /* Rendre la photo de profil circulaire */
    margin-right: 30px; 
}

.username {
    font-weight: bold; /* Nom de l'utilisateur en gras */
}

.chat-space {
    width: 1050px; 
    background-color:#2a62f4 ;
    float: left; /* Aligner à gauche */
    border-left: 1px solid #ddd; /* Séparateur */
    height: calc(100vh - 80px); /* Hauteur totale de la vue moins la hauteur de votre en-tête */
    position: relative; /* Pour positionner l'entrée du chat en bas */
}


.chat-messages {
    height: 90%; /* Prendre la majorité de l'espace pour les messages */
    overflow-y: auto; /* Permettre le défilement pour les messages */
    
   
}


.main-header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
    background: transparent; 
   font-family: cursive;
}

body {
    padding-top: 60px; 
}

/* Styler la barre de chat */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; 
   
  }
  

  #video-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(400px);
    z-index: 1;
  }

  /* Styles pour les messages dans le chat */



.chat-container {
    display: flex;
    flex-direction: column;
    height: 90vh; 
}


/* Style pour les bulles de message */
.message {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    color: #333;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    word-wrap: break-word;
}

/* Style pour les noms des utilisateurs et forums */
.message .username {
    font-weight: bold;
    display: block;
    color: orange; /* Couleur pour le nom d'utilisateur dans les messages de forum */
    margin-right: 5px; /* Espace entre le nom d'utilisateur et le message */
    
}

.message.sent {
    background-color: #f3b369e0; /* Couleur pour les messages envoyés */
    margin-left: auto; /* Aligner à droite */
    margin-right: 10px;
}

.message.received {
    background-color: #e5e5ea; /* Couleur pour les messages reçus */
    margin-left: 10px;
}

.message-content {
    font-size: 1rem;
    
}

.message-time {
    align-self: flex-end;
    font-size: 0.75rem;
    color: #888;
}
/* Style pour la zone de saisie de texte */
.chat-input {
    width : 1050px;
    display: flex;
    padding: 10px;
    background: #f0f0f0; /* Couleur de fond pour la zone de saisie */
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px; /* Espace entre l'input et le bouton */
    border: 1px solid #ccc; /* Bordure pour l'input */
    border-radius: 4px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #2a62f4; /* Couleur de fond pour le bouton */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat-messages {
    position : relative;
    width: 1050px;
    flex-grow: 1;
    overflow-y: auto;
    background: #e5ddd5; 
    padding-top: 0%;
    height: calc(90% - 60px);
}

.chat-header {
    text-align: center;
    width: 1050px;
    font-weight: bold;
    background-color: #2a62f4; /* Couleur de fond similaire à celle de WhatsApp */
    color: white; /* Couleur du texte */
     /* Padding supérieur et inférieur plus le padding horizontal pour le centrage du texte */
    border-bottom: 0px solid #ECECEC; /* Ligne séparatrice */
    position: sticky; /* Rendre le header collant */
    top: 0; /* Coller en haut de la zone de chat */
    z-index: 2; /* S'assure qu'il reste au-dessus des messages lors du défilement */
}
