body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

@font-face {
    font-family: 'Pirates';
    src: url("../RESSOURCES/FONTS/Pirates.ttf") format('truetype');
}

.homescreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #0078d7; /* Ajuster cette couleur pour correspondre à celle du splash screen de Photoshop */
    color: white;
    position: relative;
    overflow: hidden;
}

#app-title {
    font-size: 2em; /* Ajuster la taille si nécessaire */
    margin: 20px 0;
    /* Suppression de l'animation pour correspondre au splash screen statique de Photoshop */
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Suppression des animations car le titre de Photoshop n'est pas typé */
/* Suppression de la barre de chargement car elle n'apparaît pas sur le splash screen de Photoshop */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.homescreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white; /* Ajuster cette couleur pour correspondre à celle du splash screen de Photoshop */
    color: white;
    position: relative;
    overflow: hidden;
}

.logo-container img {
    width: 250px; /* ajustez la largeur selon vos besoins */
    height: auto; /* cela préserve le rapport hauteur/largeur de l'image */
}

#app-title {
    font-family: 'Pirates', sans-serif;
    color: black;
    font-size: 2em;
    margin: 20px 0;
    overflow: hidden;

}
#app-title span {
    opacity: 0;
    display: inline-block;
    transform: translateY(100%);
    animation: drawLetter 2.5s forwards;
}

@keyframes drawLetter {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ... vos autres styles ... */

#app-title span:nth-child(1) { animation-delay: 0s; }
#app-title span:nth-child(2) { animation-delay: 0.5s; }
#app-title span:nth-child(3) { animation-delay: 1s; }
#app-title span:nth-child(4) { animation-delay: 1.5s; }
#app-title span:nth-child(1) { animation-delay: 2s; }
#app-title span:nth-child(2) { animation-delay: 2.5s; }
#app-title span:nth-child(3) { animation-delay: 3s; }
#app-title span:nth-child(4) { animation-delay: 3.5s; }
/* Et ainsi de suite pour chaque lettre... */


/* Styles pour la barre de chargement */
#loading-bar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#loading-bar {
    height: 100%;
    width: 0;
    background-color: orangered; /* Couleur de la barre de chargement */
    animation: load 5s forwards;
}

@keyframes load {
    from { width: 0; }
    to { width: 100%; }
}

/* ... vos autres animations ... */
