body, html {
    height: 100%;
    margin: 0;
    background-image: url('../RESSOURCES/Images/BACKGROUNDS/newmap.png');
    background-size: cover;
    position: relative;
}

.map-container {
    position: relative;
    background-size: cover;
    height: 100%;
}

.user-profile {
    position: absolute;
    max-width: 45px;
    max-height: 45px;
    top: 10px;
    left: 10px;
}

.navbar {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.map-path {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Définir une taille si nécessaire */
}

.map-location {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background-image: linear-gradient(royalblue, white);
    margin: 25px;
    box-sizing: border-box; /* This makes sure padding is included in the width */
    border: 1px #000000 dotted;
    /* Positionner chaque lieu avec top et left */
}

.dotted-line {
    border-top: 6px dashed red;
    position: absolute;
    /* Positionner et dimensionner chaque ligne */
    /* Utiliser transform pour ajuster l'angle et la courbe */
}

.map-cursor {
    position: absolute;
    /* Positionner le curseur */
}

.popup {
    display: none; /* Reste caché jusqu'à ce qu'il soit activé par JavaScript */
    position: absolute;
    background-color: white; /* Fond blanc */
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Espace à l'intérieur du popup */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2); /* Ombre légère pour un effet de profondeur */
    color: black; /* Couleur du texte */
    font-size: 0.9em; /* Taille du texte */
    z-index: 100; /* S'assurer que le popup est au-dessus des autres éléments */
    max-width: 200px; /* Largeur maximale du popup */
    word-wrap: break-word; /* S'assure que le texte ne dépasse pas la largeur */
}


.chatbot-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
