/* Here is the custom.css stylesheet
    A stylesheet for all the pages of our website
*/


/* 
We create a new font 'Pirates' for our pages 
https://www.w3schools.com/cssref/css3_pr_font-face_rule.asp
*/

@font-face {
    font-family: Pirates;
    /*Link to the downloaded .ttf .We previously downloaded the file on DAFONT 
    (https://www.dafont.com)*/
    src: url("../RESSOURCES/FONTS/Pirates.ttf");
}

/* Style de la barre de navigation */
nav {
    display: flex;
    justify-content: space-between; /* Répartit l'espace entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    padding: 0 ; /* Padding horizontal */
    box-shadow: none; /* Supprime l'ombre */
    background-color: transparent; /* Rend le fond transparent */
}

/* Style du titre dans la barre de navigation */
.nav-title {
    font-family: cursive; /* Utilise la police personnalisée */
    font-size: 14px; /* Taille de la police du titre */
    color: orange; /* Couleur dorée pour le style pirate */
    font-size: 28px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Ombre portée pour le texte */
}

/* Style de la liste des liens de navigation */
.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Style des éléments de la liste des liens de navigation */
.nav-links li {
    padding: 10px 15px;
}

/* Style des liens de la barre de navigation */
.nav-links a {
    font-family: cursive;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

/* Style des liens de la barre de navigation au survol */
.nav-links a:hover {
    color: #d3a625;
}

/* Style du reste de l'en-tête */




body {
    background-image: url("../RESSOURCES/Images/BACKGROUNDS/old_paper_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*Here is the calling of our new font-family*/
    font-family: Pirates;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-shadow: 2px 2px 2px white, -2px -2px 2px white;
}

h2 {
    font-size: 30px;
    text-shadow: 2px 2px 2px white, -2px -2px 2px white;
}


/*Flex configuration for 3 columns */

.flex-container {
    /*Activate Flex display mode*/
    display: flex;
    /*This parameter allow columns display in Flex mode */
    flex-flow: row wrap;
    text-align: center;
}

/* Remove the flex property from the wildcard selector */
.flex-container > * {
    padding: 10px;
    margin: 10px;
}

.column {
     /* Largeur fixe pour chaque colonne */
     background-image: url("RESSOURCES/Images/arbre.png");
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat; /* Assurez-vous que l'image ne se répète pas */
    width: 200px;
    height: 350px;
    flex-shrink: 0;
    margin: 20px;
    ; /* Adjust the percentage as necessary */
    box-sizing: border-box; /* This makes sure padding is included in the width */
    border-radius: 10px;
    border: 3px #000000 solid;
    overflow: hidden; /* Empêche le débordement du contenu */
    position: relative; /* Pour positionner absolument les infos par rapport à cette div */
    transition: transform 0.3s ease;
    flex: 0 0 auto;

}
/* Style initial des images (plus petites) */
.column img {
    
    width: 40%; /* Taille initiale plus petite */
    height: auto;
    
    transition: transform 0.3s ease; /* Transition douce pour le zoom */
}

/* Style pour zoomer l'image et la colonne au survol */
.column:hover {
    transform: scale(1.1); /* Agrandit la colonne au survol */
}

.column:hover img {
    transform: scale(1.25); /* Agrandit davantage l'image au survol */
}

/* Style pour le texte d'information qui apparaîtra au survol */
.info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    text-align: center;
    padding: 10px;
    overflow: hidden; /* Cache le texte débordant */
    white-space: nowrap; /* Empêche le texte de passer à la ligne suivante */
    border-right: .15em solid orange; /* Curseur de l'effet de saisie de texte */
    width: 0; /* Départ de l'animation */
    transition: none; /* Aucune transition pour width */
    animation: typing 2s steps(40, end) forwards; 
}

/* Animation de saisie de texte */

.stage {
    overflow: hidden; 
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; 
    animation: typing 9.5s steps(180, end), blink-caret 3.75s step-end infinite;
}
@keyframes typing {
    from { width: 0; }
    to { width: 10%; }
}
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: transparent; }
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Afficher le texte d'information au survol */
.column:hover .info {
    transform: translateY(0);
}

img {
    width: 400px;
    height: 300px;
}

p {
    font-size: 30px;
    color : white;
}




.flex-container>* {
    padding: 10px;
    flex: 1 100%;
    margin: 10px;
}



.column_1 {
    /*gradient color*/
    background-image: url("../RESSOURCES/Images/arbre.png");
    background-size: cover;
    background-repeat: no-repeat;
   

}
.column_2 {
    /*gradient color*/
    background-image: url("../RESSOURCES/Images/waterfal.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.column_3 {

    background-image: url("../RESSOURCES/Images/poupee.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.column_4 {
  
    background-image: url("../RESSOURCES/Images/desert.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.column_5 {

    background-image: url("../RESSOURCES/Images/ville.png");
    background-size: cover;
    background-repeat: no-repeat;

}



.link {
    opacity: 0.5;
    transition: opacity 0.5s linear;
}

.link:hover {
    opacity: 1;
}




@media all and (min-width: 768px) {
    
    .column {
        flex: 1 auto;
    }
}



#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; 
    -webkit-backdrop-filter: blur(10px); /* Pour les navigateurs Safari */
    backdrop-filter: blur(100px); /* L'effet de flou */
  }
  
 
  #video-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  

  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    z-index: 1; 
  }
  
  .flex-container {
    position: relative;
    z-index: 2; 
  }
/* Style pour le conteneur du carrousel */

footer {
    width: 100%; 
    margin: 0; /* Aucune marge extérieure pour le footer */
    padding: 0; /* Padding vertical, pas de padding horizontal */
    background-color: black; /* Couleur de fond pour le footer */
    color: white; /* Couleur du texte pour le footer */
    text-align: center; 
    position: relative; /* Position relative pour le placement */
    bottom: 0; /* Positionner au bas de la page */
    left: 0; /* Aligner à gauche */
  }



  .locked {
    position: relative;
}

.locked .lock-icon {
    position: absolute;
    top: 50%;  /* Centrer l'icône verticalement */
    left: 50%; /* Centrer l'icône horizontalement */
    transform: translate(-50%, -50%); /* Centrage précis */
   
}
.stages-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.stage {
    position: relative;
    margin: 10px;
    
}

.stage-image {
    width: 200px; 
    height: auto;
    display: block;
}

.lock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent noir */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lock-icon {
    width: 50px; /* Taille de l'icône de verrouillage */
    height: 50px;
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}

/* Style pour les étapes verrouillées */
.locked .info {
    background-color: rgba(255, 0, 0, 0.7); /* Fond rouge semi-transparent pour les infos des étapes verrouillées */
}


  

